[Unit]
Description=uWSGI server for %i app
Before=multi-user.target
Before=graphical.target
After=remote-fs.target
After=network-online.target
Wants=network-online.target
Wants=prometheus-uwsgi-exporter@%i.service

[Service]
ExecStart=/opt/python/current/bin/uwsgi --ini /etc/uwsgi/base.ini --ini /etc/uwsgi/apps-available/%i.ini
ExecReload=/bin/kill -HUP $MAINPID
RuntimeDirectory=uwsgi/app/%i
# Newer versions of systemd export RUNTIME_DIRECTORY automatically, but not the
# version we have.
Environment=RUNTIME_DIRECTORY=%t/uwsgi/app/%i
User=www-data
Group=www-data
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
